.ColaboradoresGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  justify-items: center;
  align-items: stretch;
  margin-top: 40px;
  font-family: Poppins, sans-serif;
  
  background-color: rgba(26, 26, 46);
  height: 100%;
}

.CardColaborador {
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 0.2s;
  width: 190px;
}
.CardColaborador:hover {
  transform: translateY(-6px) scale(1.04);
}

.FotoWrapper {
  width: 146px;
  height: 146px;
  margin-bottom: 12px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(to bottom, #6366f1, #3b82f6);
  display: flex;
  align-items: center;
  justify-content: center;

}

.Fotos {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff2;
}

.Ocupacion {
  color: #bcf;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 6px 0 0 0;
}

.Nombre {
  color: #fff;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-size: 1.03rem;
  margin: 3px 0 0 0;
}

@media (max-width: 1100px) {
  .ColaboradoresGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
  }
}

@media (max-width: 700px) {
  .ColaboradoresGrid {
    grid-template-columns: 1fr;
    grid-template-rows: none;

    gap: 24px;
  }
  .CardColaborador {
    width: 98%;
    max-width: 350px;
    padding: 16px 6px 12px 6px;
  }
  .FotoWrapper {
    width: 100px;
    height: 100px;
    padding: 4px;
  }
  .Fotos {
    width: 88px;
    height: 88px;
  }
}

.colab2 {
  margin-top: 130px;
}

.mensaje {
  color: white;
  justify-content: center;
  display: flex;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

.CreditosImg {
  display: flex;
  justify-content: center;
  height: 100px;
  width: auto;
  margin-top: 40px;
}

.content {
  display: flex;
  justify-content: center;
}

.CreditosPage {
  background-color: rgba(26, 26, 46);
 height: 100%;



}


